*{
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    color: #2196f3;
    background-color: rgb(23, 39, 39);
    display: grid block;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
    font-size: x-large;
}

a:link{
    color: #2196f3;
}

a:visited{
    color: #2fa1ff;
}

a:hover{
    color: #4827ff;
}