*{
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    color: #c2e4ff;
    background-color: rgb(23, 39, 39);
    display: flex block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
}

.pfpawn img{
    width: 75px;
    height: 75px;
}

.pfpawn{
    justify-content: center;
    align-items: center;
    display: none;
}

#pfpawnd{
    z-index: 5;
    position: absolute;
    align-self: center;
    border-radius: 10px;
    background-color: rgba(35, 163, 135, 0.95);
    display: flex;
}

img {
    margin: 0;
    padding: 0;

    image-rendering: pixelated;
    image-rendering: crisp-edges;

    user-select: none;
    pointer-events: none;
}

.cell img {
    width: 50px;
    height: 50px;
}

.row{
    display: flex block;
}

#turn{
    width: 20px;
    height: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: fit-content;
    border: 2px solid black;
    cursor: crosshair;
}

.cell{
    width: 50px;
    height: 50px;
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: blue;
}

.playable{
    background-color:rgba(220, 20, 60, 0.329);
}

.selected{
    background-color: rgb(73, 138, 8);
}

.reachable{
    background-color: #98cbf3;
}

.reachable.black{
    background-color: rgb(116, 116, 255);
}