*{
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    color: #c2e4ff;
    background-color: rgb(23, 39, 39);
    display: flex block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
}

.cell img {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;

    image-rendering: pixelated;
    image-rendering: crisp-edges;

    user-select: none;
    pointer-events: none;
}

.row{
    display: flex block;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: fit-content;
    border: 2px solid black;
}

.cell{
    width: 50px;
    height: 50px;
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: blue;
}